<div *ngIf="!selectionMade">
    <div cdkScrollable (wheel)="scrollHandle($event)" #container class="container">
        <div #folders *ngFor="let f of folderDisplays;" >
         <img (click)="selectFolder(f)" src={{f}} alt="Shannon Schultz Photo" class="item">
            <h6></h6>
        </div>
    </div>
</div>


<div *ngIf="selectionMade">
    <div *ngIf="!mobile">
        <app-top-nav #desktop [folders]="folders"></app-top-nav>
    <div *ngIf="mobile">
        <app-mobile-nav #mobile [folders]="folders"></app-mobile-nav>
    </div>
</div>