<div class="wrapper">
  <div class="content">
    <router-outlet></router-outlet>
  </div>
  <div class="nav">
    <ul>
      <div *ngFor="let folder of folders">
      <li (click)="setSelection(folder)">
        <a routerLink="/mobileDisplay" routerLinkActive="active">{{folder.displayName}}</a>
       </li>
      </div>
      <li (click)=setSelection(3)>
        <a routerLink="/bio" routerLinkActive="active">Bio</a> 
      </li>
      <li (click)=setSelection(4)>
        <a routerLink="/contact" routerLinkActive="active">Contact</a>
      </li>
    </ul>
  </div>
</div>