*,*::before,*::after{
    /*font-family: 'Raleway', sans-serif;*/
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100%; 
    width: 100vw;
    flex-direction: column;
}
@media only screen and (min-width: 401px) and (max-width: 850px){
    .wrapper{
        display: grid;
        grid-template-columns: 20vw auto 40vw;
        width: 100vw;
        height: 12vh;
        position: -webkit-sticky;  
        position: sticky;
        top: 0; 
        background: white;
        z-index: 2; 
    }
    .grid-container ul li {
        outline: none;
        color: black;
        text-decoration: none;
        text-transform: uppercase;
        cursor: pointer;
        text-shadow: 0 0 1px rgba(255,255,255,0.3);
        text-decoration: none;
        list-style: none;
        opacity:0.7;
        justify-self: center;
        align-self: center;
        padding: 1vw;
        text-align: center;
        font-weight: 500;

    }
}
@media only screen and (min-width: 851px) {
    .wrapper{
        display: grid;
        grid-template-columns: 20vw auto 60vw;
        width: 100vw;
        flex-direction: row;
        height: 12vh;
        position: -webkit-sticky;  
        position: sticky;
        top: 0; 
        background: white;
        z-index: 2;
    }
    .grid-container ul li {
    outline: none;
    color: black;
    text-decoration: none;
    text-transform: uppercase;
    cursor: pointer;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    list-style: none;
    opacity:0.7;
    justify-self: center;
    align-self: center;
    padding: 1vw;
    text-align: center;
    font-weight: 500;
    }
}
.grid-container ul li:hover,.folder-list li:hover{
    opacity:1; 
    transform: translateY(-0.5px);
    box-shadow: 0px 0.3px 0.7px rgba(0, 0, 0, 0.18);
}
.header{
width: 100%;
justify-self: center;
align-self: center;
}
.header h3{
    margin: 0;
}
.grid-container{
    height: 100%;
    width: 100%;
    justify-content: center;
    align-items: center;
}
.grid-container ul{
    list-style: none;
    display: inline-flex;
    width: 100%;
    text-align: center;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin: 0;
    padding:0;

}
#sticky{
    position: sticky;
}
*,
*:after,
*::before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
.content{
    margin-top: 1vw;
}
.grid-container ul li a:active{
    color:black;
    text-decoration: none;
}
.grid-container ul li a:link{
    color:black;
    text-decoration: none;
}
.grid-container ul li a:visited{
    color:black;
    text-decoration: none;
}
