<ul>
    <li *ngFor="let folder of folders">
        <h3><a (click)="selectFolder(folder)">{{folder}}</a></h3>
        <button>delete folder</button>
    </li>
</ul>
<button (click)="addFolder()">add a new folder <span class="material-icons"> add </span></button>

<div *ngIf="addingFolder">
    <form #form="ngForm" >
        <div class="form-grid">
            <div class="name-row">
           <mat-form-field appearance="outline">
           <mat-label>Name this folder</mat-label>
           <input #nameInput matInput placeholder="Folder Name" required>
           </mat-form-field>
           <button mat-flat-button color="primary" (click)="createFolder(folderName)">Create Folder</button>
           </div>
        </div>
    </form>
</div>

<div *ngIf="folderView">
    
</div>
