<div *ngIf="!mobile">
  <app-top-nav #desktop></app-top-nav>
  </div>
  <div *ngIf="mobile">
  <app-mobile-nav #mobile></app-mobile-nav>
  </div>
  <img src="./assets/images/action/action(1).jpg?nf_resize=fit&w=300" alt="">
  <img src="assets/images/action/action(1).jpg?nf_resize=fit&w=300" alt=""> 
  <img src="./assets/images/action/action(2).jpg?nf_resize=fit&w=300" alt="">
  <img src="assets/images/action/action(2).jpg?nf_resize=fit&w=300" alt=""> 
  <img src="./assets/images/action/action(3).jpg?nf_resize=fit&w=300" alt="">
  <img src="assets/images/action/action(3).jpg?nf_resize=fit&w=300" alt=""> 