.container{
    display: grid; 
    grid-template-rows:auto 30vh 40vh 30vh;
    grid-template-columns: 100vw;
}
.bio-img{
    display: grid;
    grid-template-columns: 400px auto;
    grid-template-rows: 100%;
}
.bio-img img{
    max-width: 100%;
}

.desc{
    height: 100%;
    display: flex;
    text-align: left;
    
    margin-top: 4vh;
    margin-left: 15vw;
    margin-right: 15vw;
    border-bottom:1px solid lightgray;
}
.desc h4{
    padding: 2vw;
    margin-bottom: 0;
    box-sizing: border-box;
}
.worked{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    align-items: center;
    justify-items: center;
    border-bottom:1px solid lightgray;
}
.worked img{
    align-self: center;
    justify-self: center;
    width: 100%;
    max-width: 200px;
    height: auto;
}
.company-sec{
    display:grid;
    grid-template-rows: 100%;
}
.red-bull{
    height: 100%;
    display:grid;
    grid-template-columns: auto 40vw 40vw;
    margin-top: 5vh;
}
.redbull-logo{
width: 150px; 
justify-self: center;
}
.redbull-img{
    width:100%;
    object-fit: contain;
}
.rising{
    display:grid;
    grid-template-rows: auto 35vh auto;
}
.rising img, .rising h2, .rising h3{
    justify-self: center;
}
.rising-inner{
    justify-self: center;
    align-self: center;
    text-align: center;
}

@media screen and (max-width: 500px) {
    .container{
        display: grid; 
        grid-template-rows:auto 30vh 40vh 30vh;
        grid-template-columns: 100vw;
    }
    .bio-img{
        display: grid;
        grid-template-columns: 40vw auto;
        grid-template-rows: 100%;
    }
    .bio-img img{
        max-width: 100%;
    }
    .desc{
        height: 100%;
        display: flex;
        text-align: center;
        margin-top: 4vh;
        margin-left: 5vw;
        margin-right: 5vw;
        border-bottom:1px solid lightgray;
    }
    .desc h4{
        padding: 2vw;
        margin-bottom: 0;
        box-sizing: border-box;
    }
    .worked{
        display:grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr; 
        align-items: center;
        justify-items: center;
        border-bottom:1px solid lightgray;
    }
    .worked img{
        align-self: center;
        justify-self: center;
        width: 100%;
        max-width: 200px;
        height: auto;
    }
    .company-sec{
        display:grid;
        grid-template-rows: 100%;
    }
    .red-bull{
        height: 100%;
        display:grid;
        grid-template-columns: auto 40vw 40vw;
        margin-top: 5vh;
    }
    .redbull-logo{
    width: 150px; 
    justify-self: center;
    }
    .redbull-img{
        width:100%;
        object-fit: contain;
    }
    .rising{
        display:grid;
        grid-template-rows: auto 35vh auto;
    }
    .rising img, .rising h2, .rising h3{
        justify-self: center;
    }
    .rising-inner{
        justify-self: center;
        align-self: center;
        text-align: center;
    }
    
}