.hidden{
    display:none; 
}
.container{
    display: grid;
    grid-template-columns: 10vw 8vw 74vw 8vw;
    grid-template-rows: 84vh;
   /* margin-left:0.5vw;
    margin-right:0.5vw;*/
    margin-bottom:1vw;
} 
.container img{
    display: block;
    max-width: 100%;
    max-height: 84vh;
    align-self: center;
    justify-self: center;
    cursor: url('../../assets/icons/grid_icon.svg'), auto;
}
.button-grid{
    display: grid;
    grid-template-columns: 100%;
    width:100%;
    grid-template-rows: 82% 8% 10%;
    align-items: center;
    justify-items: center;
}
.button-grid button{
    border:none;
    background:white; 
    font-family: 'Raleway', sans-serif;
    text-shadow: 0 0 1px rgba(255,255,255,0.3);
    cursor: pointer;
}
mat-icon{
    cursor: pointer;
}
.arrow-l{
    width: 100%;
    cursor: url('../../assets/icons/arrow-l.svg'), auto;
}
.arrow-r{
    width: 100%;
    cursor: url('../../assets/icons/arrow-r.svg'), auto;
}
img.loaded { 
    animation: fadein 1s;
  }
  @keyframes fadein {
    from { opacity: 0; 
    box-shadow: none;}
    to { opacity: 1; 
        box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.18);} 
  }
  img:focus{
      outline: none;
  }