<div class="container" (keydown.ArrowRight)="increaseId()" (keydown.ArrowLeft)="decreaseId()">
    <div class="button-grid">
    <div></div>
      <div>
        <button (click)="decreaseId()">PREV</button><span>/</span>
        <button (click)="increaseId()">NEXT</button>
      </div>
      <mat-icon (click)="goBack()" routerLink="../display"
      svgIcon="grid" aria-hidden="false" aria-label="Grid SVG icon"></mat-icon>
    </div>
    <div class="arrow-l" (click)="decreaseId()"></div>
    <img #photo (click)="goBack()" routerLink="../display" data-src={{publicId}}
    class="hidden" (load)="easeIn()" autofocus>
    <div class="arrow-r" (click)="increaseId()" ></div>
</div>