<div class="masonry">
    <div class="item">
        <img src="../../assets/images/action/action(11).jpg" alt="">
    </div>
    <div class="item">
        <img src="../../assets/images/action/action(1).jpg" alt="">
    </div>
    <div class="item">
        <img src="../../assets/images/action/action(3).jpg" alt="">
    </div>
    <div class="item">
        <img src="../../assets/images/action/action(5).jpg" alt="">
    </div>
    <div class="item">
        <img src="../../assets/images/action/action(6).jpg" alt="">
    </div>
    <div class="item">
        <img src="../../assets/images/action/action(7).jpg" alt="">
    </div>
    <div class="item">
        <img src="../../assets/images/action/action(3).jpg" alt="">
    </div>
</div>